.h5-container{
    background-color: #f4f4f4;
}
.header {
    background-color: #1890ff;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    position: relative;
}

.logo {
    display: block;
    width: 127px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer {
    padding: 30px 20px;
}

.footer > div {
    text-align: center;
    margin-bottom: 20px;
}

.qrcode {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.project-info {
    text-align: center;
    padding: 25px 0 0px 0;
}

.project-info > div {
    margin-bottom: 5px;
}

.project-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
}

.project-author {
    font-size: 14px;
    line-height: 30px;
    margin-left: 5px;
}

.controller-container {
    background-color: #323238;
    position: relative;
    margin: 5px auto 0 auto;
}

.controller-container::after {
    display: block;
    content: '';
    clear: both;
}

.direction-btn-container {
    float: left;
    height: 155px;
    width: 155px;
    margin: 20px 20px;
    position: relative;
}

.direction-btns {
    position: absolute;
    display: block;
    height: 60px;
    width: 60px;
    -webkit-background-size: contain;
    background-size: contain;
}

.up-btn {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("./btns/up.png");
}

.up-btn.active {
    background-image: url("./btns/up_active.png");
}

.down-btn {
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("./btns/down.png");
}

.down-btn.active {
    background-image: url("./btns/down_active.png");
}

.left-btn {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("./btns/left.png");
}

.left-btn.active {
    background-image: url("./btns/left_active.png");
}

.right-btn {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("./btns/right.png");
}
.right-btn.active {
    background-image: url("./btns/right_active.png");
}

.space-btn {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 20px;
    background-image: url("./btns/space.png");
    -webkit-background-size: contain;
    background-size: contain;
}
.space-btn.active {
    background-image: url("./btns/space_active.png");
}

:global(*) {
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none; /*火狐*/
    -ms-user-select:none;  /*IE10*/
    user-select:none;
}

.love-container {
    margin: 30px 0 0 0;
}

.love-btn {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: white;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}

.love-btn.active {
    background-color: #f9d3be;
}

.love-img {
    width: 40px;
    height: 40px;
    display: block;
}

.love-count {
    display: inline-block;
}

.love-count-container {
    text-align: center;
    font-size: 16px;
    color: #222;
    margin: 5px 0;
}

.love-tips {
    margin: 5px 0;
    text-align:center;
    color: #999;
}

.description-container {
    text-align: left;
    padding: 0 2px;
    margin: 20px auto 0 auto;
}

.description-title {
    position: relative;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.description-title::before {
    position: absolute;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    left: 0;
    top: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: orange;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.description-content {
    font-size: 14px;
    text-indent: 20px;
    padding: 0 10px;
    color: #555;
}
