.async-loading-box {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.async-loading-box img {
    width:200px;
    height: 63px;
    display: block;
}

.async-loading-words {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}
