.login-button {
    width: 100%;
}


#login-head {
    vertical-align: bottom;
    position: relative;
}

#login-head img {
    display: block;
    margin-right: 0.5px;
    height: 40px;
    width: 40px;
}

#login-head span {
    display: inline-block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 50%;
    line-height: 40px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #333;
    font-weight: bold;
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
}
